<a href="https://colab.research.google.com/github/Shreemathi15/python-assignment/blob/main/PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Experiment 1

In [ ]:
n=int(input("enter a number : "))
fact=1
if(n%2==1):
  for i in range(2,n+1):
    fact*=i
  print(fact)
  print("the length is",len(str(fact)))
elif(n%2==0):
  pal=str(n)[::-1]
  if(pal==n):
    print("it is palindrome")
  else:
    print("it ia not a palindrome")

enter a number : 7
5040
the length is 4

Experiment 2

In [ ]:
a=input("enter a  word : ")
b=input("enter another word: ")
if b in a:
  print("YES")
else:
  print("NO")

enter a  word : welcome
enter another word: come
YES

Experiment 3(a)

In [ ]:
li = list(input("Enter a list of numbers: "))
print(li)
first = li[0]
print("The first element of the list is:", first)
last = li[-1]
print("The last element of the list is:", last)

Enter a list of numbers: 1234
['1', '2', '3', '4']
The first element of the list is: 1
The last element of the list is: 4

Experiment 3(b)

In [ ]:
def ascending(lst):
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True


lst = list(map(int,input("enter number : ").split()))


if ascending(lst):
    print("list is in ascending order")
else:
    print("list is not in ascending order")

enter number : 3 2 1
list is not in ascending order

Experiment 4(a)

In [ ]:
my_tuple = tuple(map(int,input().split()))
string = ''.join(map(str, my_tuple))
print(" the string is",string)

1 2 3
 the string is 123

Experiment 4(b)

In [ ]:
tu=tuple(input("enter a tuple : " ))
tup=tu[::-1]
print(tup)

enter a tuple3 4 5
('5', ' ', '4', ' ', '3')

Experiment 5

In [ ]:
set1 = set(input(" first set:  ").split())
set2 = set(input(" second set:  ").split())
if set1.issubset(set2):
  print("The first set is a subset of the second set")

else:
  print("It is not a subset")

 first set:  2 4
 second set:  1 2 3 4
The first set is a subset of the second set

Experiment 6

In [ ]:
color = {}
n = int(input("Enter the number of elements "))
for i in range(n):
  key = input("Enter the key: ")
  value = input("Enter the value: ")
  color[key] = value
print("Dictionary elements are: \n")
for key, value in color.items():
  print(key, value)

Enter the number of elements 3
Enter the key: a
Enter the value: apple
Enter the key: b
Enter the value: ball
Enter the key: c
Enter the value: cat
Dictionary elements are:

a apple
b ball
c cat

Experiment 7(a)

In [ ]:
import numpy as np
li = list(map(int,input("enter numbers : ").split()))
a = np.array(li)
print("The Numpy array is:",a)

enter numbers : 1 2 3 4 5 6 7
The Numpy array is: [1 2 3 4 5 6 7]

Experiment 7(b)

In [ ]:
import numpy as np
li = list(map(int,input("enter 1st array : ").split()))
tu = tuple(map(int,input("enter 2nd array : ").split()))

a1 = np.array(li)
a2 = np.array(tu)
a12 = np.concatenate((a1,a2))
print("The combined array is:",a12)
print(type(a12))

enter 1st array : 1 2 3 4
enter 2nd array : 5 6 7 8
The combined array is: [1 2 3 4 5 6 7 8]
<class 'numpy.ndarray'>

Experiment 8(a)

In [ ]:
import numpy as np
import pandas as pd
a = np.random.rand(3)
print("Array:",a)
df1 = pd.DataFrame(a)
print("DataFrame:\n", df1,"\n", type(df1),)

s = pd.Series(a)
print("\nSeries:\n",s)
df2 = pd.DataFrame(s)
print("DataFrame:\n", df2, "\n", type(df2))

Array: [0.46202129 0.13545861 0.96208011]
DataFrame:
           0
0  0.462021
1  0.135459
2  0.962080
 <class 'pandas.core.frame.DataFrame'>

Series:
 0    0.462021
1    0.135459
2    0.962080
dtype: float64
DataFrame:
           0
0  0.462021
1  0.135459
2  0.962080
 <class 'pandas.core.frame.DataFrame'>

Experiment 8(b)

In [ ]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
print("Addition: \n", s1 + s2)
print("Subtraction: \n", s1 - s2)
print("Multiplication: \n", s1 * s2)
print("Division: \n", s1 / s2)

Addition:
 0     3
1     6
2     9
3    12
4    15
dtype: int64
Subtraction:
 0   -1
1   -2
2   -3
3   -4
4   -5
dtype: int64
Multiplication:
 0     2
1     8
2    18
3    32
4    50
dtype: int64
Division:
 0    0.5
1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64